<app-login-register-nav></app-login-register-nav>
<div class="m-auto mt-5 sm:p-5 md:w-4/6">
  <h1 class="text-lg font-serif mb-4">Enter your Registered Email</h1>
  <form [formGroup]="forgotRequestForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="w-[100%]">
      <input
        matInput
        placeholder="email"
        autocomplete="email"
        type="email"
        formControlName="email"
      />
      <!-- handle user Required Error -->
      @if (forgotRequestForm.controls['email'].hasError('required')) {

      <mat-error>email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <!-- submit -->
    <button
      mat-raised-button
      color="primary"
      class="w-[100%] mt-4"
      type="submit"
      [disabled]="!forgotRequestForm.valid"
    >
      Submit
    </button>
    @if (isRequestInprogress) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </form>

  <!-- create alert box using tailwindcss to show that you request is sent -->

  @if (isRequestSent) {
  <app-alert-box
    heading="Request Sent!"
    message="We have sent you a password reset link to your email address."
  ></app-alert-box>

  }
</div>
