<app-header></app-header>
<div class="container px-3 m-auto mt-5">
  <div class="my-5">
    <h1 class="text-lg my-3 ">Profile Settings</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="flex items-center gap-3 mb-10">
    @for (item of user().rools; track $index) {
      <div class="flex items-center gap-2 cursor-pointer bg-slate-600/25 px-2 py-1 rounded-sm shadow">
        <mat-icon class="text-indigo-900" matChipAvatar>hdr_strong</mat-icon>
        {{ item }}
      </div>
    }
  </div>

  <app-update-user-info (OnUserUpdate)="OnUserUpdate()" [User]="user()"></app-update-user-info>
  <!-- update user passwords  -->
    <!-- update user information -->
    <div class="my-5">
    <mat-divider></mat-divider>
  </div>
  <app-update-passwords></app-update-passwords>
</div>
