<div class="m-auto flex flex-col sm:flex-row p-2 bg-[#f3f0f7] sm:p-5 md:w-4/6">
  <div>
    <h1 class="text-4xl font-extrabold mb-4">Join Community</h1>
    <p class="text-sm">
      Keep conversations interesting. Gain and share knowledge.
    </p>
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <!-- first name -->
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="First name"
                  formControlName="firstName"
                />
                @if (addressForm.controls['firstName'].hasError('required')) {
                <mat-error>First name is <strong>required</strong></mat-error>
                }
              </mat-form-field>
            </div>
            <!-- last name -->
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Last name"
                  formControlName="lastName"
                />
                @if (addressForm.controls['lastName'].hasError('required')) {
                <mat-error>Last name is <strong>required</strong></mat-error>
                }
              </mat-form-field>
            </div>
          </div>

          <!-- username -->
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Username"
              autocomplete="username"
              formControlName="username"
            />
            @if (addressForm.controls['username'].hasError('required')) {
            <mat-error>Username is <strong>required</strong></mat-error>
            }
          </mat-form-field>

          <!-- email -->
          <mat-form-field class="full-width">
            <input
              matInput
              type="email"
              placeholder="Email"
              autocomplete="email"
              formControlName="email"
            />
            @if (addressForm.controls['email'].hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>

          <!-- password -->
          <mat-form-field class="full-width">
            <input
              matInput
              autocomplete="current-password"
              placeholder="Password"
              formControlName="password"
              type="password"
            />
            @if (addressForm.controls['password'].hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            type="submit"
          >
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div
    class="image-container w-11/12 bg-cover bg-center"
    style="background-image: url('../../assets/images/Login.png')"
  ></div>
</div>
