
 <h1 class="text-lg my-3">Update Password</h1>


 <form [formGroup]="PasswordChange">
    <mat-form-field class="w-full">
      <input
        matInput
        type="password"
        autocomplete="current-password"
        placeholder="Old Password"
        formControlName="OldPassword"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <input
        matInput
        type="password"
        autocomplete="new-password"
        placeholder="New Password"
        formControlName="NewPassword"
        required
      />
    </mat-form-field>



    <button mat-raised-button color="primary" (click)="UpdatePassword()">
      <span class="flex items-center gap-2">
        @if (isSpinner()) {
        <mat-spinner [diameter]="20" color="accent"></mat-spinner>
        Update Password}@else { Update Password }
      </span>
    </button>
  </form>

  <!-- linke for forgot password -->
  <div class="flex justify-center mt-5">
    <a class="text-blue-500" routerLink="/forgot-password">Forgot Password</a>
  </div>
