<h1>Post View</h1>
<app-post [post]="post$"></app-post>
<!-- creat comment box-->

<!-- create a box for adding comments using angulaSr metrial -->

<div class="my-5 text-center">
    <h1 class="text-4xl bg-gray-400text-center text-slate-600">
      Suggestions
    </h1>
</div>

<div class="px-3 py-6 my-9 shadow-md">
    <mat-form-field class="w-full">
        <mat-label>Leave Comment</mat-label>
        <input  matInput type="text" [(ngModel)]="value">
        @if (value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    
  <div class="flex gap-4 mt-5 justify-end">
    <button mat-raised-button color="accent" >Cencel</button>
    <button mat-raised-button color="primary">Suggest</button>
  </div>
</div>
<!-- list of comments -->

@for (item of commentsToPost$; track $index) {
  <!-- show item content -->

  <app-post [post]="item"></app-post>
  <!-- <ul class="border p-2 m-5 ">
    <li>content: {{item.content}}</li>
    <li>dateCreateAt: {{item.dateCreateAt}}</li>
    <li>commentId: {{item.commentId}}</li>
    <li>userID: {{item.userID}}</li>
    <li>userID: {{item.username}}</li>
    <li>userID: {{item.name}}</li>
  </ul> -->
}

<!-- {{posts$ | async | json}}
{{post$ | async | json}} -->

