<h1>Post View</h1>
<mat-card>
  <app-post-header title="title" user="user"></app-post-header>

  <mat-card-content p-5>
    <!-- body -->
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      autem vitae facilis dignissimos molestias eum voluptatem id tenetur
      laudantium molestiae quia sunt assumenda quidem blanditiis modi quo quos
      placeat similique excepturi quaerat, dolores magni! Delectus sint dolorem
      assumenda odio consectetur iste, voluptatibus voluptate doloribus nisi
      impedit maxime veritatis soluta molestiae.
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- footer -->
    <div class="flex gap-5">
      <div>
        <mat-icon>visibility</mat-icon>
        <span>10</span>
      </div>
      <div>
        <mat-icon>comment</mat-icon>
        <span>10</span>
      </div>
      <div>
        <mat-icon>arrow_upward</mat-icon>
        <span>10</span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
<!-- creat comment box-->

<!-- create a box for adding comments using angular metrial -->

<div class="my-5 text-center">
    <h1 class="text-4xl bg-gray-400text-center text-slate-600">
      Suggestions
    </h1>
</div>

<div class="px-3 py-6 my-9 shadow-md">
    <mat-form-field class="w-full">
        <mat-label>Leave Comment</mat-label>
        <input  matInput type="text" [(ngModel)]="value">
        @if (value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    
  <div class="flex gap-4 mt-5 justify-end">
    <button mat-raised-button color="accent" >Cencel</button>
    <button mat-raised-button color="primary">Suggest</button>
  </div>
</div>
<!-- list of comments -->

@for (item of [1,2,3,4]; track $index) {
    <app-post></app-post>
}


