:host {
  display: block;
}
.mat-card {
  margin-bottom: 20px;
}

.history-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-height: 150px;
  /* Adjust the height as needed */
  overflow-y: auto;
}


.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  /* Customize styles for progress bar */
}
