<h2 mat-dialog-title>Update Keyword</h2>
<mat-dialog-content class="mat-typography">

  <!-- update existing keyword -->
  <mat-form-field class="w-full">
    <mat-label>Update Keyword</mat-label>
    <input title="t" matInput type="text" [(ngModel)]="value" />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="UpdateKeyword()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
