  <!-- Add New KeyWord Button -->
  <button class="mb-5" mat-raised-button color="primary" (click)="addKeyword()">Add New KeyWord</button>

  <!-- filter search bar -->




<!-- table to show keywords -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Keyworkd Column -->
  <ng-container matColumnDef="keyword">
    <th mat-header-cell *matHeaderCellDef> Keyword </th>
    <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
  </ng-container>

  <!-- Delete Action -->
  <ng-container matColumnDef="DateCreated">
    <th mat-header-cell *matHeaderCellDef> Created </th>
    <td mat-cell *matCellDef="let element">
      {{element.dateCreated | TimeAgo}}
    </td>
  </ng-container>

  <!-- Update Action -->
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <span class="flex items-center justify-end gap-2">
        <button mat-raised-button color="primary" (click)="updateKeyword(element.keyword)">Update</button>
        <button mat-raised-button color="warn" (click)="deleteKeyword(element.keyword)">Delete</button>
      </span>

    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
