<app-header></app-header>
<div class="w-10 m-auto sm:w-3/6 sm:mt-32">
  <h1 class="text-lg font-sans mb-5">Please Reset your Password </h1>
  <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="w-[100%]">
      <input
        matInput
        placeholder="New Password"
        autocomplete="off"
        formControlName="newPassword"
      />
      <!-- handle user Required Error -->
      @if (resetPasswordForm.controls['newPassword'].hasError('required')) {
      <mat-error>newPassword is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <!-- password -->
    <mat-form-field class="w-[100%]">
      <input
        matInput
        placeholder="Confirm Password"
        formControlName="conformPassword"
        autocomplete="off"
        type="password"
      />

      <!-- handle password Required Error -->
      @if (resetPasswordForm.controls['conformPassword'].hasError('required')) {
      <mat-error>conformPassword is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <!-- submit -->
    <button
      mat-raised-button
      color="primary"
      class="w-[100%] mt-4"
      type="submit"
      [disabled]="!resetPasswordForm.valid"
    >
      Submit
    </button>
     @if (IsInprogress) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </form>
  @if (IsResetComplete) {
  <app-alert-box
    heading="Password Reset!"
    message="Your password has been reset successfully."
  ></app-alert-box>
  }

</div>
