<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">

  <!-- add new keyWord -->
  <mat-form-field class="w-full">
    <mat-label>Add new Keyword</mat-label>
    <input title="t"  matInput type="text" [(ngModel)]="value" />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <!-- combo box to show existing keyword while user typing if the typed keyword is not exsit then opton to add -->
  <!-- <mat-form-field class="w-full">
    <mat-label>Existing KeyWord</mat-label>
    <input title="t" matInput type="text" [(ngModel)]="value" />
    <mat-autocomplete>
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="Addkeyword()" cdkFocusInitial>Add</button>
</mat-dialog-actions>
