<p>WetherForcast works!</p>
,
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">
    <a routerLink="/login">Get</a></mat-button-toggle
  >
  <mat-button-toggle value="italic">
    <a routerLink="/register">User</a></mat-button-toggle
  >
  <mat-button-toggle value="italic">
    <a routerLink="/register">Admin</a></mat-button-toggle
  >
  <mat-button-toggle value="italic">
    <a routerLink="/register">Moderator</a></mat-button-toggle
  >
</mat-button-toggle-group>


<!-- <mat-chip-grid #chipGrid aria-label="Fruit selection">
    @for (item of items; track item) {
      <mat-chip-row >
        {{item}}
        <button matChipRemove [attr.aria-label]="'remove ' + item">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid> -->