<div class="md:mt-16">
    <mat-nav-list>
      <a routerLink="posts" mat-list-item >
        <mat-icon matListItemIcon>message</mat-icon>
        <div matListItemTitle>Posts</div>
      </a>
      <a  routerLink="User/posts" mat-list-item>
        <mat-icon matListItemIcon>comment</mat-icon>
        <div matListItemTitle>Your Comments</div>
      </a>

      <a  routerLink="posts" mat-list-item >
        <mat-icon matListItemIcon>messages</mat-icon>
        <div matListItemTitle>Your Posts</div>
      </a>

      <a  routerLink="User/ApprovalRequest" mat-list-item >
        <mat-icon matListItemIcon>grain</mat-icon>
        <div matListItemTitle>Admin Tab</div>
      </a>

    </mat-nav-list>
  </div>
