<mat-card class=" m-auto mb-10 p-3">
    <app-post-header [date]="date" user={{user}} title={{post?.title}}></app-post-header>

  <mat-card-content  >
    <p class="pl-5 border p-3">
      {{ post?.content?.split(' ')?.slice(0, 25)?.join(' ') }} ....

    </p>
    
  </mat-card-content>

  <mat-card-actions>
    <div class="flex items-center justify-between w-11/12 mt-3">
      <button (click)="ViewDetails()" mat-stroked-button>View Details</button>

      <div class="flex items-center gap-3">
        <!-- Icon views-->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">visibility</mat-icon>
          <span>10</span>
        </div>

        <!-- Icon comments -->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">comment</mat-icon>
          <span>10</span>
        </div>

        <!-- Icon -->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">arrow_upward</mat-icon>
          <span>10</span>
        </div>
      </div>
    </div>

  </mat-card-actions>
</mat-card>
