<mat-card class=" m-auto mb-2">
  <div class="p-5">
    <!-- user Profile with name-->
    <div class="flex items-center gap-3 p-2justify-center">
      <div
        class="text-4xl w-[50px] h-[50px] flex justify-center items-center rounded-full b bg-gray-400"
      >
        {{ user.charAt(0) }}
      </div>
      <div class="text-lg">{{ user.toUpperCase() }}</div>
    </div>
    <!-- Post title -->
    <div class="text-2xl ml-3 mt-3">{{ title }}</div>
  </div>
  
  <mat-card-content p-5>
    <p>
      {{ Content.split(' ').slice(0, 25).join(' ') }} ....
    </p>
    
  </mat-card-content>

  <mat-card-actions>
    <div class="flex items-center justify-between w-11/12">
      <button mat-stroked-button>View Details</button>

      <div class="flex items-center gap-3">
        <!-- Icon views-->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">visibility</mat-icon>
          <span>10</span>
        </div>

        <!-- Icon comments -->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">comment</mat-icon>
          <span>10</span>
        </div>

        <!-- Icon -->
        <div class="flex  items-center gap-2">
          <mat-icon [classList]="IconStyles">arrow_upward</mat-icon>
          <span>10</span>
        </div>
      </div>
    </div>
   
  </mat-card-actions>
</mat-card>
