<mat-selection-list #Status
 [multiple]="false">
  @for (shoe of typesOfShoes; track shoe) {
    <mat-list-option [value]="shoe">{{shoe}}</mat-list-option>
  }
</mat-selection-list>

<div class="flex justify-end">
  <button mat-stroked-button (click)="UpdateStatus(Status
    .selectedOptions.selected[0].value)" class="place-self-end" >
    <span [ngClass]="{
    'text-green-500 ': Status
    .selectedOptions.hasValue() && Status
    .selectedOptions.selected[0].value === 'Approved',
    'text-yellow-500': Status
    .selectedOptions.hasValue() && Status
    .selectedOptions.selected[0].value === 'Pending',
    'text-red-500': Status
    .selectedOptions.hasValue() && Status
    .selectedOptions.selected[0].value === 'Rejected'
  }">
      {{Status.selectedOptions.hasValue() ? Status.selectedOptions.selected[0].value : 'select an option'}}

    </span>
  </button>
</div>
